@import "@faststore/ui/src/components/atoms/Overlay/styles.scss";
@import "@faststore/ui/src/components/organisms/SlideOver/styles.scss";

[data-fs-self-management-section] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  [data-fs-self-management-title] {
      text-align: center;
      font-size: x-large;
      font-weight: bold;
  }

  [data-fs-self-management-title], [data-fs-self-management-code] {
      margin-bottom: 32px;
  }
}


[data-fs-self-management-nav] {
  padding: 8px;
  background-color: var(--fs-border-color-light);
  margin-bottom: 16px;

  a {
      margin-left: 8px;
      text-decoration: none;
      color: var(--fs-color-tertiary-text);
      font-weight: bold;
  }
}

[data-fs-self-management-drawer] {
  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  display: flex;
  flex-direction: column;


  // Header
  [data-fs-self-management-drawer-header] {
    padding: 0 var(--fs-spacing-8) var(--fs-spacing-5);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  [data-fs-self-management-drawer-header-org-link] {
    text-decoration: none;
  }

  [data-fs-self-management-drawer-header-org-name] {
    font-weight: var(--fs-text-weight-bold);
    font-size: var(--fs-text-size-3);
    color: var(--fs-color-text);
    text-transform: capitalize;
    text-decoration: none;
    padding: var(--fs-spacing-1) 0;
  }

  [data-fs-self-management-drawer-header-org-name]:hover {
    text-decoration: underline;
  }

  [data-fs-self-management-drawer-header-org-image] {
    width: var(--fs-spacing-9);
    height: var(--fs-spacing-9);
    border-radius: var(--fs-border-radius-pill);
    background-color: var(--fs-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--fs-spacing-1);
    overflow: hidden;
    color: var(--fs-border-color-active);
  }

  [data-fs-self-management-drawer-header-buttons-wrapper] {
    display: flex;
  }

  [data-fs-self-management-drawer-header-config-button] {
    margin-right: calc(-1 * var(--fs-spacing-1));
    border-radius: var(--fs-border-radius-full);
  }

  [data-fs-self-management-drawer-header-switch-button] {
    [data-fs-button-wrapper] {
      border-radius: var(--fs-border-radius-pill);
    }
  }

  // Body
  [data-fs-self-management-drawer-body] {
    flex: 1;
    border-top: var(--fs-border-radius-small) var(--fs-color-neutral-3);
    border-top-style: solid;
    border-bottom: var(--fs-border-radius-small) var(--fs-color-neutral-3);
    border-bottom-style: solid;

    [data-fs-self-mamnagement-drawer-body-contents] {
      padding: var(--fs-spacing-5) var(--fs-spacing-8) var(--fs-spacing-5);
      display: grid;
      row-gap: var(--fs-spacing-4);
      width: 100%;

      [data-fs-self-management-drawer-body-link] {
        color: var(--fs-color-neutral-7);
        text-decoration: none;
      }

      [data-fs-self-management-drawer-body-link]:hover {
        text-decoration: underline;
      }
    }
  }



  // Footer
  [data-fs-self-management-drawer-footer] {
    padding: var(--fs-spacing-4) var(--fs-spacing-8);
    display: flex;
    justify-content: space-between;
  }

  [data-fs-self-management-drawer-footer-person-image] {
    width: var(--fs-spacing-6);
    height: var(--fs-spacing-6);
    border-radius: var(--fs-border-radius-pill);
    background-color: var(--fs-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--fs-border-color-active);
    margin-right: var(--fs-spacing-3);
  }

  [data-fs-self-management-drawer-footer-person-data] {
    flex: 1;
    font-size: var(--fs-text-size-legend);

    h2 {
      color: var(--fs-color-text);
      font-weight: var(--fs-text-weight-regular);
    }

    h3 {
      color: var(--fs-color-text-light);
      font-weight: var(--fs-text-weight-light);
    }
  }

  [data-fs-self-management-drawer-footer-logout-button] {
    &[data-fs-self-management-drawer-footer-logout-button-color="danger"] {

      [data-fs-button-wrapper] {
        border-radius: var(--fs-border-radius-pill);
        color: var(--fs-color-danger-text);
        border-color: var(--fs-border-color-light);
      }

      [data-fs-button-wrapper]:hover {
        color: var(--fs-color-danger-text);
      }

      [data-fs-icon] {
        color: var(--fs-color-danger-text);
      }
    }
  }
}