[data-fs-self-management-section] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    [data-fs-self-management-title] {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

    [data-fs-self-management-title], [data-fs-self-management-code] {
        margin-bottom: 32px;
    }
  }


  [data-fs-self-management-nav] {
    padding: 8px;
    background-color: var(--fs-border-color-light);
    margin-bottom: 16px;

    a {
        margin-left: 8px;
        text-decoration: none;
        color: var(--fs-color-tertiary-text);
        font-weight: bold;
    }
  }